.container {
  padding: 20px 10px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 20px 80px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 20px 120px;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-bottom: 0;
  gap: 10px;
}

@media screen and (min-width: 573px) {
  .btnContainer {
    display: flex;
    flex-direction: row;
  }
}



.addBtn {
  background-color: red;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin: auto 0;
  text-decoration: none !important;
}

.link {
  text-decoration: none;
}

.searchGrp{
  display: flex;
  align-items: center;
  gap: 10px;
}

