.container{
  display: grid !important;
  place-items: center !important;
  height: 70vh;
}

.paper {
  width: 500px !important;
  padding: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
